body{
    display:grid;
    grid-template-columns:repeat(26, 1fr); 
    grid-template-rows:repeat(31,50px);
}


article{
	border: solid 2px black;
	background-color: aqua;

}
article:nth-child(33) {
background-color: black;
grid-column: ;
}
article:nth-child(59) {
background-color: black;
grid-column: ;
}
article:nth-child(85) {
background-color: black;
grid-column: ;
}
article:nth-child(111) {
background-color: black;
grid-column: ;
}
article:nth-child(110) {
background-color: black;
grid-column: ;
}

article:nth-child(41) {
background-color: black;
grid-column: ;
}
article:nth-child(135) {
background-color: black;
grid-column: ;
}
article:nth-child(160) {
background-color: black;
grid-column: ;
}
article:nth-child(186) {
background-color: black;
grid-column: ;
}
article:nth-child(67) {
background-color: black;
grid-column: ;
}article:nth-child(212) {
background-color: black;
grid-column: ;
}
article:nth-child(239) {
background-color: black;
grid-column: ;
}
article:nth-child(266) {
background-color: black;
grid-column:span 3 ;
}

article:nth-child(114) {
background-color: black;
grid-column: ;
}
article:nth-child(139) {
background-color: black;
grid-column: ;
}
article:nth-child(164) {
background-color: black;
grid-column: ;
}
article:nth-child(190) {
background-color: black;
grid-column: ;
}
article:nth-child(216) {
background-color: black;
grid-column: ;
}
article:nth-child(243) {
background-color: black;
grid-column: ;
}
article:nth-child(268) {
background-color: black;
grid-column: span 3;
}
article:nth-child(93) {
background-color: black;
grid-column: ;
}
article:nth-child(119) {
background-color: black;
grid-column: ;
}
article:nth-child(145) {
background-color: black;
grid-column: ;
}
article:nth-child(171) {
background-color: black;
grid-column: ;
}
article:nth-child(197) {
background-color: black;
grid-column: ;
}
article:nth-child(223) {
background-color: black;
grid-column: ;
}
article:nth-child(247) {
background-color: black;
grid-column: ;
}
article:nth-child(249) {
background-color: black;
grid-column: ;
}
article:nth-child(271) {
background-color: black;
grid-column: ;
}
article:nth-child(297) {
background-color: black;
grid-column: ;
}
article:nth-child(323) {
background-color: black;
grid-column: ;
}
article:nth-child(349) {
background-color: black;
grid-column: ;
}
article:nth-child(375) {
background-color: black;
grid-column: ;
}
article:nth-child(289) {
background-color: black;
grid-column: ;
}
article:nth-child(315) {
background-color: black;
grid-column: ;
}
article:nth-child(341) {
background-color: black;
grid-column: ;
}
article:nth-child(367) {
background-color: black;
grid-column: ;
}
article:nth-child(292) {
background-color: black;
grid-column: ;
}
article:nth-child(318) {
background-color: black;
grid-column: ;
}
article:nth-child(344) {
background-color: black;
grid-column: ;
}
article:nth-child(370) {
background-color: black;
grid-column: ;
}
article:nth-child(393) {
background-color: black;
grid-column: span 9;
}
article:nth-child(7) {
background-color: black;
grid-column: ;
}
article:nth-child(370) {
background-color: black;
grid-column: ;
}
article:nth-child(15) {
background-color: black;
grid-column: ;
}
article:nth-child(8) {
background-color: #f5f5dc;
grid-column: ;
}
article:nth-child(9) {
background-color: #f5f5dc;
grid-column: ;
}
article:nth-child(10) {
background-color: #f5f5dc;
grid-column: ;
}
article:nth-child(11) {
background-color: #f5f5dc;
grid-column: ;
}
article:nth-child(12) {
background-color: #f5f5dc;
grid-column: ;
}
article:nth-child(13) {
background-color: #f5f5dc;
grid-column: ;
}
article:nth-child(14) {
background-color: #f5f5dc;
grid-column: ;
}
article:nth-child(34) {
background-color: #f5f5dc;
grid-column: ;
}
article:nth-child(35) {
background-color: #f5f5dc;
grid-column: ;
}
article:nth-child(36) {
background-color: #f5f5dc;
grid-column: ;
}
article:nth-child(37) {
background-color: #f5f5dc;
grid-column: ;
}
article:nth-child(38) {
background-color: #f5f5dc;
grid-column: ;
}
article:nth-child(39) {
background-color: #f5f5dc;
grid-column: ;
}
article:nth-child(40) {
background-color: #f5f5dc;
grid-column: ;
}
article:nth-child(60) {
background-color: #f5f5dc;
grid-column: ;
}
article:nth-child(61) {
background-color: #f5f5dc;
grid-column: ;
}
article:nth-child(62) {
background-color: #f5f5dc;
grid-column: ;
}
article:nth-child(63) {
background-color: #f5f5dc;
grid-column: ;
}
article:nth-child(64) {
background-color: #f5f5dc;
grid-column: ;
}
article:nth-child(65) {
background-color: #f5f5dc;
grid-column: ;
}
article:nth-child(66) {
background-color: #f5f5dc;
grid-column: ;
}
article:nth-child(86) {
background-color: #f5f5dc;
grid-column: ;
}
article:nth-child(87) {
background-color: #f5f5dc;
grid-column: ;
}
article:nth-child(88) {
background-color: #f5f5dc;
grid-column: ;
}
article:nth-child(89) {
background-color: #f5f5dc;
grid-column: ;
}
article:nth-child(90) {
background-color: #f5f5dc;
grid-column: ;
}
article:nth-child(92) {
background-color: #f5f5dc;
grid-column: ;
}article:nth-child(91) {
background-color: #f5f5dc;
grid-column: ;
}
article:nth-child(112) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(113) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(115) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(116) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(117) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(118) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(136) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(137) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(138) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(140) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(141) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(142) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(144) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(143) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(161) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(162) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(163) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(165) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(166) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(167) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(168) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(169) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(170) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(187) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(188) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(189) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(191) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(192) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(193) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(194) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(195) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(196) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(196) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(213) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(213) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(214) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(215) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(217) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(218) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(219) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(220) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(221) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(222) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(240) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(241) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(242) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(244) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(245) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(246) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(248) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(269) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(270) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(267) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(290) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(291) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(293) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(294) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(295) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(296) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(316) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(319) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(317) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(319) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(320) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(321) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(322) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(342) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(343) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(345) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(346) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(347) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(348) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(368) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(369) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(371) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(372) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(373) {
background-color: #fffdd0;
grid-column: ;
}
article:nth-child(374) {
background-color: #fffdd0;
grid-column: ;
}







